
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <!--wrapper start-->
    <div class="wrapper page-blog-wrapper">

        <!--== Start Header Wrapper ==-->
        @await Component.InvokeAsync("SideBar")
        <!--== End Header Wrapper ==-->

        <main class="main-content">
            <!--== Start Page Title Area ==-->
            <section class="page-title-area bg-overlay-black2-6 bg-img" data-bg-img="assets/img/photos/bg-page1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title-content">
                                <h2 class="title">Blog</h2>
                                <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">></span></a><span class="active">Blog</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Page Title Area ==-->
            <!--== Start Blog Area Wrapper ==-->
            <section class="blog-area blog-grid-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-content-column">
                                <div class="blog-content-area">
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/1.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">Upcycling Brand Nereja Makes Vintage Furs New Again</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/2.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">Katie Holmes Revives the Baker Boy Cap</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">Honey, They Shrunk the Ugg Boot</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/4.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">Consider the Backless Dress for a New Year’s Eve at Home</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/5.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">All the Ways We Styled Sweats This Year</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <!--== Start Blog Post Item ==-->
                                    <div class="post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img src="~/assets/img/blog/6.jpg" alt="Moren-Image"></a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <a href="blog.html">Design Trends</a>
                                            </div>
                                            <div class="inner-content">
                                                <h4 class="title">
                                                    <a href="blog-details.html">This Week, The Best Dressed Stars Prioritized Glamour</a>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                                            </div>
                                            <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                                        </div>
                                    </div>
                                    <!--== End Blog Post Item ==-->
                                    <div class="pagination-area">
                                        <nav>
                                            <ul class="page-numbers">
                                                <li>
                                                    <a class="page-number active" href="blog.html">1</a>
                                                </li>
                                                <li>
                                                    <a class="page-number" href="blog.html">2</a>
                                                </li>
                                                <li>
                                                    <a class="page-number" href="blog.html">3</a>
                                                </li>
                                                <li>
                                                    <a class="page-number next" href="blog.html">
                                                        <i class="lastudioicon-arrow-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="sidebar-area">
                                    <div class="widget">
                                        <div class="widget-search-box">
                                            <form action="#" method="post">
                                                <div class="form-input-item">
                                                    <label for="search2" class="sr-only">Search Here</label>
                                                    <input type="text" id="search2" placeholder="Search entire store…">
                                                    <button type="submit" class="btn-src">
                                                        <i class="icofont-search-1"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h3 class="widget-title">Categories</h3>
                                        <div class="widget-custom-menu">
                                            <ul>
                                                <li class="has-sub">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#has-sub1" role="button" aria-expanded="false" aria-controls="has-sub1">Men</a>
                                                    <ul class="collapse" id="has-sub1" style="">
                                                        <li><a href="shop.html">New in</a></li>
                                                        <li><a href="shop.html">Clothing</a></li>
                                                        <li><a href="shop.html">Coats</a></li>
                                                        <li><a href="shop.html">Jackets</a></li>
                                                        <li><a href="shop.html">Shirts</a></li>
                                                        <li><a href="shop.html">T-shirts</a></li>
                                                        <li><a href="shop.html">Blazers</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="collapsed active" data-bs-toggle="collapse" href="#has-sub2" role="button" aria-expanded="false" aria-controls="has-sub2">Women</a>
                                                    <ul class="collapse" id="has-sub2">
                                                        <li><a href="shop.html">New In</a></li>
                                                        <li><a href="shop.html">Jeans</a></li>
                                                        <li><a href="shop.html">Jackets</a></li>
                                                        <li><a href="shop.html">Sweatshirts</a></li>
                                                        <li><a href="shop.html">Skirts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#has-sub3" role="button" aria-expanded="false" aria-controls="has-sub3">Kids</a>
                                                    <ul class="collapse" id="has-sub3">
                                                        <li><a href="shop.html">Shoes</a></li>
                                                        <li><a href="shop.html">Clothing</a></li>
                                                        <li><a href="shop.html">Shirts</a></li>
                                                        <li><a href="shop.html">Skirts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#has-sub4" role="button" aria-expanded="false" aria-controls="has-sub4">Accessories</a>
                                                    <ul class="collapse" id="has-sub4">
                                                        <li><a href="shop.html">Bags</a></li>
                                                        <li><a href="shop.html">Shoes</a></li>
                                                        <li><a href="shop.html">Wallets</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h3 class="widget-title">Instagram</h3>
                                        <div class="widget-gallery">
                                            <div class="row row-cols-3 row-gutter-4">
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery1.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery2.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery3.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery4.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery5.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="gallery-item">
                                                        <img src="~/assets/img/photos/gallery6.jpg" alt="Givest-HasTech">
                                                        <a class="icon" href="#/"><i class="icofont-instagram"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h3 class="widget-title">Tags</h3>
                                        <div class="widget-tags">
                                            <ul>
                                                <li><a href="blog.html">Blazer,</a></li>
                                                <li><a href="blog.html">Fashion,</a></li>
                                                <li><a href="blog.html">Main 01,</a></li>
                                                <li><a href="blog.html">Main 02,</a></li>
                                                <li><a href="blog.html">Main 031,</a></li>
                                                <li><a href="blog.html">Main 032,</a></li>
                                                <li><a href="blog.html">Main 033,</a></li>
                                                <li><a href="blog.html">Main 041,</a></li>
                                                <li><a href="blog.html">Main 042,</a></li>
                                                <li><a href="blog.html">Main 043,</a></li>
                                                <li><a href="blog.html">Main 044,</a></li>
                                                <li><a href="blog.html">Main 05,</a></li>
                                                <li><a href="blog.html">Main 06,</a></li>
                                                <li><a href="blog.html">Main 07,</a></li>
                                                <li><a href="blog.html">Mango,</a></li>
                                                <li><a href="blog.html">Pull & Bear,</a></li>
                                                <li><a href="blog.html"> wordpress, </a></li>
                                                <li><a href="blog.html"> Zara </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <div class="widget-banner">
                                            <a href="blog.html"><img src="~/assets/img/photos/banner1.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h3 class="widget-title">Popular Posts</h3>
                                        <div class="widget-blog-post">
                                            <ul>
                                                <li>
                                                    <div class="thumb">
                                                        <a href="blog-details.html"><img src="~/assets/img/blog/s1-2.jpg" alt="Image-HasTech"></a>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="blog-details.html">Upcycling Brand Nereja Makes...</a></h4>
                                                        <span>December 30, 2020</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <a href="blog-details.html"><img src="~/assets/img/blog/s2.webp" alt="Image-HasTech"></a>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="blog-details.html">Katie Holmes Revives the Baker Boy Cap</a></h4>
                                                        <span>December 30, 2020</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <a href="blog-details.html"><img src="~/assets/img/blog/s3-2.jpg" alt="Image-HasTech"></a>
                                                    </div>
                                                    <div class="content">
                                                        <h4><a href="blog-details.html">Honey, They Shrunk the Ugg Boot</a></h4>
                                                        <span>December 30, 2020</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Blog Area Wrapper ==-->
        </main>

        <!--== Start Footer Area Wrapper ==-->
        @await Component.InvokeAsync("Footer")
        <!--== End Footer Area Wrapper ==-->
        <!--== Scroll Top Button ==-->
        <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>
    </div>

</body>


<!-- Mirrored from htmldemo.net/moren/moren/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Sep 2023 04:38:51 GMT -->
</html>

