
@{
    ViewData["Title"] = "ComingSoon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>

    <!--wrapper start-->
    <div class="wrapper products-coming-soon-wrapper">

        <!--== Start Preloader Content ==-->
        <div class="preloader-wrap">
            <div class="preloader">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--== End Preloader Content ==-->

        <main class="main-content site-wrapper-reveal">
            <!--== Start Coming Soon Area ==-->
            <section class="coming-soon-area bg-img">
                <div class="container-fluid">
                    <div class="row row-gutter-0">
                        <div class="col-12">
                            <div class="coming-soon-wrap">
                                <div class="column-left" data-bg-img="~/assets/img/photos/bg-page11.jpg"></div>
                                <div class="column-right" data-bg-img="~/assets/img/photos/bg-page10.jpg">
                                    <div class="coming-soon-content">
                                        <h2 class="title">We’re Building Something New</h2>
                                        <div class="countdown-content">
                                            <ul class="countdown-timer">
                                                <li><span class="days">00</span><p class="days_text">Days</p></li>
                                                <li><span class="hours">00</span><p class="hours_text">Hour</p></li>
                                                <li><span class="minutes">00</span><p class="minutes_text">Mint</p></li>
                                                <li><span class="seconds">00</span><p class="seconds_text">Sec</p></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-theme" href="index.html">Get notification</a>
                                        <div class="coming-social-icons">
                                            <a href="#/"><i class="lastudioicon-b-facebook"></i></a>
                                            <a href="#/"><i class="lastudioicon-b-pinterest"></i></a>
                                            <a href="#/"><i class="lastudioicon-b-twitter"></i></a>
                                            <a href="#/"><i class="lastudioicon-b-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Coming Soon Area ==-->
        </main>
</body>
<!-- Mirrored from htmldemo.net/moren/moren/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Sep 2023 04:38:53 GMT -->
</html>

