@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<footer class="footer-area footer-style1">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-6">
                    <div class="footer-logo-area">
                        <a href="index.html">
                            <img class="logo-main" src="~/assets/img/logo-main.svg" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="newsletter-content-wrap">
                        <form class="newsletter-form" action="#">
                            <input class="form-control" type="text" id="email" placeholder="Enter your email address...">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row row-gutter-0">
                <div class="col-sm-6 col-md-4">
                    <div class="widget-item">
                        <nav class="widget-menu-wrap">
                            <ul class="nav-menu nav">
                                <li><a href="index.html">PRIVACY POLICY</a></li>
                                <li><a href="index.html">TERMS & CONDITIONS</a></li>
                                <li><a href="about.html">ABOUT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget-item mt-xs-20">
                        <nav class="widget-menu-wrap">
                            <ul class="nav-menu nav">
                                <li><a href="index.html">SHIPPING INFO</a></li>
                                <li><a href="index.html">RETURNS / EXCHANGES</a></li>
                                <li><a href="contact.html">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="widget-item widget-social-item mt-sm-30 mt-xs-20">
                        <span>ON SOCIAL NETWORKS</span>
                        <div class="widget-social-icons">
                            <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a>
                            <a href="#/"><i class="lastudioicon lastudioicon-b-pinterest"></i></a>
                            <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

