@model CheckOutViewModel
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
    var list_Cart = Model.cartItems.ToList();
}

<!DOCTYPE html>
<html lang="en">
<body>

    <!--wrapper start-->
    <div class="wrapper">
        <!--== Start Header Wrapper ==-->
        @await Component.InvokeAsync("SideBar")
        <!--== End Header Wrapper ==-->

        <main class="main-content">
            <!--== Start Page Title Area ==-->
            <section class="page-title-area bg-overlay-black2-6 bg-img" data-bg-img="assets/img/photos/bg-page1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title-content">
                                <h2 class="title">Checkout</h2>
                                <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">></span></a><span class="active">Checkout</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Page Title Area ==-->
            <!--== Start Shop Checkout Area ==-->
            <section class="shop-checkout-area">
                <div class="container">
                    <div class="row">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-md-12">
                                <div class="shop-return-login" id="returnloginAccordion">
                                    <div class="card">
                                        <h6>
                                            Returning customer? <span data-bs-toggle="collapse" data-bs-target="#returnloginaccordion"> Click here to login</span>
                                        </h6>
                                        <div id="returnloginaccordion" class="collapse" data-bs-parent="#returnloginAccordion">
                                            <div class="card-body">
                                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.</p>
                                                <form class="login-form-wrapper" id="login-form" action="/@culture/account/login" method="post">
                                                    <div asp-validation-summary="All" class="text-danger"></div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="UserName" class="form-label">Username or email address *</label>
                                                                        <input type="text" name="UserName" class="form-control" id="UserName">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group mb-0">
                                                                        <label for="password" class="form-label mt-15">Password *</label>
                                                                        <input type="password" name="Password" class="form-control" id="password">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group mt-15">
                                                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1"> Remember me</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group mb-0 form-group-info">
                                                                        <button class="btn btn-theme btn-black" type="submit">Log in</button>
                                                                        <a class="btn-forgot" href="#">Lost your password?</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-12">
                            <div class="shop-checkout-coupon" id="checkoutloginAccordion">
                                <div class="card">
                                    <h6>
                                        Have a coupon? <span data-bs-toggle="collapse" data-bs-target="#couponaccordion"> Click here to enter your code</span>
                                    </h6>
                                    <div id="couponaccordion" class="collapse" data-bs-parent="#checkoutloginAccordion">
                                        <div class="card-body">
                                            <p>If you have a coupon code, please apply it below.</p>
                                            <form action="#" method="post">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Enter Your Coupon Code">
                                                </div>
                                                <button class="btn btn-coupon">Apply Coupon</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/@culture/Cart/CheckOut" method="post">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="shop-billing-form">
                                    <h4 class="title">Billing details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cf_name">Họ và Tên <abbr class="required" title="required">*</abbr></label>
                                                <input class="form-control" id="cf_name" type="text" name="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cf_last_name">Địa Chỉ <abbr class="required" title="required">*</abbr></label>
                                                <input class="form-control" id="cf_last_name" type="text" name="Address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="cf_phone">Phone <abbr class="required" title="required">*</abbr></label>
                                        <input class="form-control" id="cf_phone" type="text" name="PhoneNumber">
                                    </div>

                                    <div class="form-group">
                                        <label for="cf_email">Email address <abbr class="required" title="required">*</abbr></label>
                                        <input class="form-control" id="cf_email" type="text" name="Email">
                                    </div>

                                    <div class="form-group">
                                        <label for="cf_order_notes">Order notes (optional)</label>
                                        <textarea class="form-control" name="comment" id="cf_order_notes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <h4 class="title">Your order</h4>
                                <div class="order-review-details">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in list_Cart)
                                            {
                                                <tr>
                                                    <td>
                                                        <span class="product-title">@item.Name</span>
                                                        <span class="product-quantity"> × @item.Quantity</span>
                                                    </td>
                                                    <td>@item.Price</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="final-total">
                                                <th>Total</th>
                                                <td><span class="total-amount">@list_Cart.Sum(x=>x.Quantity * x.Price)</span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="shop-payment-method">
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="direct_bank_transfer">
                                                    <h4 class="title" data-bs-toggle="collapse" data-bs-target="#itemOne" aria-controls="itemOne" aria-expanded="false">Direct bank transfer</h4>
                                                </div>
                                                <div id="itemOne" class="collapse" aria-labelledby="direct_bank_transfer" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="check_payments">
                                                    <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemTwo" aria-controls="itemTwo" aria-expanded="true">Check payments</h5>
                                                </div>
                                                <div id="itemTwo" class="collapse show" aria-labelledby="check_payments" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="cash_on_delivery">
                                                    <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemThree" aria-controls="itemThree" aria-expanded="false">Cash on delivery</h5>
                                                </div>
                                                <div id="itemThree" class="collapse" aria-labelledby="cash_on_delivery" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Pay with cash upon delivery.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="Pay_Pal">
                                                    <h5 class="title" data-bs-toggle="collapse" data-bs-target="#item4" aria-controls="item4" aria-expanded="false">PayPal <img src="~/assets/img/icons/paypal.png" alt=""> <a href="#/">What is PayPal?</a></h5>
                                                </div>
                                                <div id="item4" class="collapse" aria-labelledby="Pay_Pal" data-bs-parent="#accordion">
                                                    <div class="card-body">
                                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p class="shop-checkout-info">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                                <button class="btn place-order-btn" type="submit">Place order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!--== End Shop Checkout Area ==-->
        </main>

        <!--== Start Footer Area Wrapper ==-->
        @await Component.InvokeAsync("Footer")
        <!--== End Footer Area Wrapper ==-->
        <!--== Scroll Top Button ==-->
        <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>
    </div>

</body>


<!-- Mirrored from htmldemo.net/moren/moren/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Sep 2023 04:38:37 GMT -->
</html>
