@model List<ShopHouse.ViewModels.Catalog.Categories.CategoryVm>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{ var culture = CultureInfo.CurrentCulture.Name; }


<div class="col1">
    <div class="filters">
        <ul class="button-group tab-flr-btn">
            @*<li data-filter=".pizza" class="btn-flr is-checked tab-flr-btn-btn-flr-active">
                    <div class="cat-block">
                        <div class="block-stl1 bg1">
                            <span class="flaticon-pizza"></span>
                            <h4>Pizza</h4>
                        </div>
                    </div>
                </li>*@
            @foreach (var item in Model)
            {
                <li data-filter=".burgers" class="btn-flr">
                    <a href="/@culture/@_loc["categoryUrl"]/@item.ID">
                        <div class="cat-block">
                            <div class="block-stl1 bg-2">
                                <span class="flaticon-taco"></span>
                                <h4>@item.Name</h4>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>

        @*<div class="filter-tabnav">
            <div class="container bg_fff">
                <p class="showing-result">Showing 1 - 20 of 245 Products</p>
                <span class="sort-by"> Short by :</span>
                <ul class="button-group js-radio-button-group" data-filter-group="item_cat_inner">
                    <li class="sort-btn" data-sort="default:asc"><span>Newest First</span></li>
                    <li class="sort-btn" data-sort="popularity:asc"><span>Popularity</span></li>
                    <li class="sort-btn" data-sort="price:asc"><span>Low to Heigh</span></li>
                    <li class="sort-btn" data-sort="price:desc"><span>Heigh to Low</span></li>
                </ul>

                <ul class="filter-check">
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Veg</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Non Veg</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <label>
                                <input type="radio" name="level"> <span class="label-text">Pan</span>
                            </label>
                        </div>
                    </li>
                </ul>

                <div class="list-grid-btns">
                    <button class="btn grid-btn"><i class="flaticon-menu"></i></button>
                    <button class="btn active list-btn"><i class="flaticon-grid"></i></button>
                </div>

            </div>
        </div>*@
    </div>
</div>