@model List<ShopHouse.ViewModels.Catalog.Categories.CategoryVm>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{ var culture = CultureInfo.CurrentCulture.Name; }

<section class="cat-sec new-block">
    <div class="container-fluid pd0">
        @foreach (var item in Model)
        {
            <div class="cat-block">
                <a href="/@culture/@_loc["categoryUrl"]/@item.ID">
                    <div class="block-stl1 bg-1 ">
                        <span class="flaticon-pizza"></span>
                        <h4 localize-content>@item.Name</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</section>