@model ShopHouse.ViewModels.Catalog.Products.CategoryAssignRequest

@{
    ViewData["Title"] = "Gắn danh mục cho sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="mt-3 mb-2">
        <h3 class="h3 mb-2 text-gray-800">
            Gán 
        </h3>
    </div>

    <p class="mb-4">

    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-outline-info" asp-action="Index">Trở lại</a>
        </div>
        <div class="card-body">
            <form asp-action="CategoryAssign">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    <div class="form-group">
                        <label>
                            @Model.Categories[i].Name
                            <input type="checkbox" asp-for="Categories[i].Selected" />
                            <input type="hidden" asp-for="Categories[i].ID" />
                            <input type="hidden" asp-for="Categories[i].Name" />
                        </label>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Lưu Lại" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


